
.homepage-card {
    min-height: 600px;
    border: none;
    border-radius: 0;
}

.homepage-card:nth-of-type(odd) {
    background-color: #0096f2;
}

.card-around-text {
    border-style: hidden;
}

.homepage-card:nth-of-type(even) > .card-content {
    flex-direction: row-reverse;
}

.card-text-container, .card-image-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-image-container {
    /*border: #1a1a1a solid 1px;*/
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-image {
    padding: 0;
    object-fit: cover !important;
}

.card-title {
    font-weight: bold;
}

/*-------------every time the content is on the LEFT side-------------*/
.homepage-card:nth-of-type(odd) > .row > .card-border-div > .card-image-container {
    margin-right: 60px;
    margin-left: auto;
}

.homepage-card:nth-of-type(even) > .row > .card-text-container {
    align-items: flex-end;
    justify-content: center;
}

/*text*/
.homepage-card:nth-of-type(odd) > .row > .card-text-container > .card-around-text{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 60px;
}
.homepage-card:nth-of-type(even) > .row > .card-text-container > .card-around-text > .card-text{
    margin-right: 60px;
    text-align: right;
    max-width: 400px;
}

.homepage-card:nth-of-type(even) > .row > .card-text-container > .card-around-text > h2{
    margin-right: 60px;
    text-align: right;
    max-width: 400px;
}


/*-------------every time the content is on the RIGHT side-------------*/
.homepage-card:nth-of-type(even) > .row > .card-border-div > .card-image-container {
    margin-right: auto;
    margin-left: 60px;
    max-width: 600px;
}

.homepage-card:nth-of-type(odd) > .row > .card-text-container {
    align-items: flex-start;
    justify-content: center;
}

.homepage-card:nth-of-type(odd) > .row > .card-text-container > .card-around-text > .card-text, .homepage-card:nth-of-type(odd) > .row > .card-text-container > .card-around-text > h2 {
    text-align: left;
    max-width: 400px;
}

@media all and (max-width: 991px) {
    .card-image-container {
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .card-text-container{
        padding: 0;
        margin: 20px 0 20px 0;
    }

    .homepage-card:nth-of-type(odd) > .row > .card-border-div > .card-image-container, .homepage-card:nth-of-type(even) > .row > .card-border-div > .card-image-container {
        margin: 20px auto 0 auto;

    }

    .homepage-card:nth-of-type(odd) > .row > .card-text-container > .card-around-text, .homepage-card:nth-of-type(even) > .row > .card-text-container > .card-around-text {
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .homepage-card:nth-of-type(odd) > .row > .card-text-container > .card-around-text > .card-text, .homepage-card:nth-of-type(even) > .row > .card-text-container > .card-around-text > .card-text, h2 {
        text-align: left;
        max-width: 600px;
        margin: 0 0 20px 0;
    }

    h2 {
        margin-top: 20px;
    }
}
