.page-body {
    max-width: 400px;
}
.form-container{
    width: 100%;
}
.material-container{
    position: relative;
    margin: 2em 0 2em 0;
}

.material-label {
    position: absolute;
    top: -20%;
    left: 0.5em;
    background-color: white;
    padding: 0 0.3em 0 0.2em;
    color: #0078c3;
    line-height: 1em;
}
.material-input{
    border-color: #0078c3;
    width: 100%;
    height: 2.5em;
}

/*.material-label:focus{*/
/*    box-shadow: 0px 0px 5px #0096f2;*/
/*}*/

.material-input:focus{
    box-shadow: 0px 0px 5px #0078c3;
}