@font-face {
    font-family: montserrat;
    src: url("/static/font/Montserrat-VariableFont_wght.ttf");
}

body {
    width: 100%;
    position: relative;
    top: 56px;
    background-color: #0096f2;
    min-height: calc(100vh - 88px);
    font-family: montserrat;
}

nav {
    background-color: white;
}

.page-body {
    margin-top: 2em;
    background-color: white;
    border-radius: 10px;
    padding: 1.5em;
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar-container {
    margin: 0;
    min-width: 100%;
}

.selected {
    background-color: forestgreen;
}

.navbar-nav {
    width: 100%;
}

.navbar-text-user {
    color: #1a1a1a;
    font-weight: bold;
}

.home-button {
    display: flex;
    flex-direction: row;
}

.nav-image {
    margin: 0 0.5em 0 0.5em;
    max-width: 32px;
}

.user-login-logout {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.button-custom {
    background-color: #0078c3;
    /*border-color: #005e99; Szia Kevin :3 ez nem tetszett szoval kivettem.*/
    max-height: 38px;
    font-weight: 500;
    color: white;
}

.button-custom:hover {
    background-color: #ffd454 !important;
    border-color: #ffd454 !important;
    color: black !important;
}

.test-title {
    font-family: montserrat;
    font-weight: bold;
}

.test-sub-title {
    font-family: montserrat;
}

@media all and (max-width: 991px) {
    body {
        top: 170px;
        font-size: 2.5em;
    }
    /*-------------nav items-------------*/
    .navbar {
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .navbar-toggler-icon {
        height: 4em;
        width: 4em;
    }

    .card-text {
        min-width: 100%;
    }

    .dropdown-menu {
        font-size: 1em;
    }

    .user-login-logout {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-image-link {
        /*margin-left: 0;*/
        display: none;
    }

    .nav-list-container {
        margin-top: 0.5em;
    }

    .nav-item{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .home-button{
        display: block;
    }
    /*-------------button-------------*/
    .button-custom{
        /*padding: 1em 1em 1em 1em;*/
        font-size: 1em;
    }

    /*-------------header text-------------*/

}

@media all and (min-width: 1920px) {
    .navbar-container {
        min-width: 1920px;
        margin: auto;
    }
}

.form-control {
    font-size: 1.2rem;
    /*font-family: montserrat;*/
}

.skip-link {
    width: 25rem;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #0078c3;
    color: white;
    padding: .5rem;
    translate: 0 -100%;
    z-index: 10000;
    translation: translate 150ms ease-in-out;
}

.skip-link:focus {
    translate: 0
}
