@font-face {
    font-family: montserrat;
    src: url("/static/font/Montserrat-VariableFont_wght.ttf");
}
body{
    width: 100%;
    position: relative;
    top: 56px;
    background-color: #0096f2;
    min-height: calc(100vh - 56px);
    font-family: montserrat;
}
nav{
    background-color: white;
}

.page-body {
    margin-top: 2em;
    background-color: white;
    border-radius: 10px;
    padding: 1.5em;
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.navbar-container{
    margin: 0;
    min-width: 100%;
}

.selected{
    background-color: forestgreen;
}

.navbar-nav{
    width: 100%;
}
.navbar-text-user{
    color: #1a1a1a;
    font-weight: bold;
}
.nav-spacer {

}
.user-login-logout{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.button-custom{
    background-color: #0078c3;
    /*border-color: #005e99; Szia Kevin :3 ez nem tetszett szoval kivettem.*/
    max-height: 38px;
    font-weight: 500;
    color: white;
}

.button-custom:hover{
    background-color: #ffd454!important;
    border-color: #ffd454!important;
    color: black!important;
}

.test-title{
    font-family: montserrat;
    font-weight: bold;
}

.test-sub-title{
    font-family: montserrat;
}

@media all and (max-width: 991px){
    .user-login-logout{
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media all and (min-width: 1920px){
    .navbar-container{
        min-width: 1920px;
        margin: auto;
    }
}

.form-control {
   font-size: 1.2rem;
   /*font-family: montserrat;*/
}
