body {
    min-height: calc(100vh - 76px);
}
h1{
    margin: 0;
    font-weight: bold;
}
hr{
    margin: 0 0 1.5em 0;
}
.page-body {
    width: 90%;
    max-width: 1200px;
}



.tests-card {
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    border: #0078c3 solid 1px;
    /*border-color: #0078c3;*/
    /*background-color: #0078c3;*/
    border-radius: 10px;
    padding: 0;
    min-width: 24%;
    overflow: hidden;
    background-color: #0078c3;

}

.tests-card-header {
    width: 100%;
    /*border-top-right-radius: 10px!important;*/
    /*border-top-left-radius: 10px!important;*/
    background-color: #0078c3;
    color: white;
    font-weight: bold;

}

.tests-card-body {
    padding: 0;
    background-color: white;
}

.test-container {
    display: flex;
    flex-direction: column;
}

.test-title {
    font-size: 1.1em;
}

.test-description {
    margin: 0;
    font-size: 0.8em;
}

.test-button-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.test-button-link {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}
.test-list-item{
    border-bottom: #0096f2 solid 1px;
}

/*.test-button {*/
/*    padding: 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    width: 100%;*/
/*    background-color: #ffc107;*/
/*    transition: all 0.3s ease 0s;*/
/*}*/

.test-button:hover {
    background-color: #ffd454;
    color: black;
}
.list-group-item:last-of-type{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
@media all and (max-width: 991px) {
    .page-body {
        margin-bottom: 100px;
        padding-bottom: 15px;
    }

    .tests-card {
        border-radius: 0;
        /*margin-bottom: 20px;*/
    }

    .tests-card-header {
        border-radius: 0 !important;
    }

    .test-button-link {
        width: 30%;
    }
}
