body {
    /*margin-top: 56px;*/
}

nav {
    border-bottom: #0096f2 solid 2px;
}

hr {
    margin: 0 0 3em 0;
}

.active {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: black !important;
}

.question-row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.08);
    padding-top: 3em;
    padding-bottom: 3em;
}

.question, .question-id {
    font-family: montserrat;
    font-size: 1.2em;
    display: flex;
    align-items: center;

}

.question > p {
    margin: 0;
}

.option-button {
    background-color: #0078c3;
    border-color: #005e99;
    font-weight: bold;
}

#question-submit {
    background-color: #0078c3;
}

@media all and (max-width: 991px) {
    .page-body {
        margin-bottom: 200px;
        padding-bottom: 15px;
        min-width: calc(100vw - 5%);
        border-radius: 20px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .test-title {
        font-size: 2em;
    }

    .test-sub-title {
        font-size: 1.5em;
    }

    .question-id {
        display: none;
    }

    .button-custom {
        margin: 1em 0 1em 0;
        min-height: 80px;
    }

    .question-row, .question-row:nth-of-type(odd) {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}