{% from 'macros/pagination.jinja2' import Pagination %}
{% extends "default.jinja2" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/english_language_test.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pagination.css') }}">
	<script src="{{ url_for('static', filename='js/englishLanguageTest.js') }}" type="module" defer></script>
{% endblock %}
{% block content %}
	<main class="container">
		<section id="reading-comprehension">
			<article class="english-test-text" data-text-id="{{ test.text.id }}">{{ test.text.text }}</article>
			<article class="question-container" id="question-container">
				{% for question in test.questions %}
					<section class="card question-card">
						<header class="card-header card-title"
						        data-question-id="{{ question.id }}">{{ question.question }}</header>
						<div class="card-body">
							<div class="card-text">
								{% for option in test.options %}
									{% if option.question_id == question.id %}

										<div class="form-check">
											<input class="form-check-input" type="radio"
											       name="question-{{ question.id }}-options"
											       id="question-{{ question.id }}-option-{{ option.id }}"
											       data-option-id="{{ option.id }}"
											       data-question-id="{{ question.id }}">
											<label class="form-check-label"
											       for="question-{{ question.id }}-option-{{ option.id }}"
											       data-option-id="{{ option.id }}">
												{{ option.option }}
											</label>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</section>
				{% endfor %}
		{{ Pagination(currrent_page,max_number_of_pages) }}
			</article>
		</section>
	</main>
{% endblock %}
