{% from 'macros/pagination.jinja2' import Pagination %}
{% extends "default.jinja2" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/english_language_test.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pagination.css') }}">
	<link rel="stylesheet" type="text/css"
	      href="{{ url_for('static', filename='css/english_language_reading_comprehension_admin.css') }}">
	<script src="{{ url_for('static', filename='js/tests/admin/englishLanguageReadingComprehensionAdmin.js') }}"
	        type="module" defer></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet"
	      type="text/css">
{% endblock %}
{% block content %}
	<main class="page-body container" id="main-content">
		<section id="reading-comprehension">
			<article class="english-test-text" data-text-id="{{ test.text.id }}">{{ test.text.text }}</article>
			<section class="question-container" id="question-container">
				{% for question in test.questions[:10] %}
					<article class="card question-card">
						<header class="card-header card-title question"
						        data-question-id="{{ question.id }}">{{ question.question }}</header>
						<div class="card-body">
							<div class="card-text">
								<ul class="list-group">
									{% for option in test.options %}
										{% if option.question_id == question.id %}
											<li class="list-group-item option" data-question-id="{{ question.id }}"
											    data-option-id="{{ option.id }}"
											    data-correct="{{ option.correct }}">{{ option.option }}</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</article>
				{% endfor %}
				<button class="btn btn-primary" type="submit"
				        id="question-submit">{{ text["Tovább az esszé íráshoz!"] }}</button>
			</section>
			{{ Pagination(currrent_page,max_number_of_pages) }}
		</section>
	</main>
{% endblock %}
