{% extends "default.jinja2" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
    <main class="container page-body">
        <header class="english-test-header">
            <h2 class="test-title">Login</h2>
            <hr>
        </header>
        <div class="d-flex flex-column text-center align-items-center">
            {% if login_attempt_failed %}
                <div class="alert wy-alert-danger">
                    <strong>{{ text["A bejelentkezés sikertelen!"] }}</strong> {{ text["Ellenőrizd a felhasználóneved és a jelszavad!"] }}
                </div>
            {% endif %}
            <form action="{{ url_for("login") }}" method="POST" class="form-container">
                <div class="form-group material-container">
                    <label class="form-label fw-bold mb-1 material-label" for="username">{{ text["Felhasználónév"] }}:</label>
                    <input type="text" name="username" class="form-control material-input" aria-label="{{ text["Felhasználónév"] }}"
                           required>
                </div>
                <div class="form-group form-outline material-container">
                    <label class="color-primary fw-bold mb-1 material-label" for="password">{{ text["Jelszó"] }}: </label>
                    <input type="password" name="password" class="form-control material-input" aria-label="{{ text["Jelszó"] }}"
                           required>
                </div>
                <div><input type="submit" value="{{ text["Bejelentkezés"] }}" class="btn btn-primary button-custom mt-3"></div>
            </form>
        </div>
    </main>
{% endblock %}
