{% extends "default.jinja2" %}
{% block content %}
    <div class="banner container-fluid">
    <div class="title-container">
        <h2 class="main-title-text-welcome">Welcome To</h2>
        <h1 class="main-title-text">Salva Vita</h1>
    </div>
    <img src="https://motionarray.imgix.net/preview-544162-ZzS9GRuLOhogJpcl-large.jpg?w=3840&q=60&fit=max&auto=format" class="banner-image container-fluid">

    </div>
{#https://motionarray.imgix.net/preview-544162-ZzS9GRuLOhogJpcl-large.jpg?w=3840&q=60&fit=max&auto=format#}
{% endblock %}
