{% from 'cards/test_card.jinja2' import test_card %}
{% extends "default.jinja2" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tests.css') }}">
{% endblock %}
{% block content %}
    <main class="page-body container-fluid mt-3">
    <header><h1>{{ text["Elérhető tesztek"] }}:</h1></header>
    <section class="tests-container row justify-content-evenly">
        {{ test_card({"title":"Work Motivation Test","test1":{"title":"Work Motivation Test","description":"Ennek a tesztnek a lenyege, hogy felmerje a hozzaallasodat a munkahoz","url":"work-motivation"}}) }}
        {{ test_card({"title":"English Language Test","test1":{"title":"Elementary","description":"Tesztleiras1","url":"/english_language/1"},"test2":{"title":"Intermediate","description":"Tesztleiras2","url":"/english_language/2"},"test3":{"title":"Upper-intermediate","description":"Tesztleiras3","url":"/english_language/3"}}) }}
        {{ test_card({"title":"Social Situation Test","test1":{"title":"Tesztcim1","description":"Tesztleiras1","url":"/social_situation"}})}}
        {{ test_card({"title":"Test Category Title","test1":{"title":"Tesztcim1","description":"Tesztleiras1","url":"URL_a_teszthez1"},"test2":{"title":"Tesztcim2","description":"Tesztleiras2","url":"URL_a_teszthez2"},"test3":{"title":"Tesztcim3","description":"Tesztleiras3","url":"URL_a_teszthez3"}}) }}
    </section>
    </main>
{% endblock %}

{#Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.#}
