{% extends "default.jinja2" %}
{% block head %}
	<script src="{{ url_for('static', filename='js/util/embedYoutube.js') }}" defer></script>
	<script type="module" src="{{ url_for('static', filename='js/tests/socialSituation.js') }}" defer></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/social_situation.css') }}">
{% endblock %}
{% block content %}
	<main class="page-body container-fluid">
		<header class="english-test-header">
			<h2 class="test-title">{{ text['Szociális készségek'] }}</h2>
			<hr>
			<h4 class="test-sub-title">Sub-title</h4>
		</header>
		<section>
			<div class="text-center">
				{% for test in data %}
					<article class="card question-card">
						{% for question in test['questions'] %}
							<header class="card-header card-title">
								{{ loop.index }}. {{ question }}
							</header>
						{% endfor %}
						<div class="card-body">
							{% if test['type'] == "video" %}
								<div class="media-container">
									<div id="yt-player" class="rounded mx-auto d-block media-content"
									     url='{{ test["url"] }}'></div>
								</div>
							{% else %}
								<div class="media-container">
									<img class="media-content" src="{{ test["url"] }}">
								</div>
							{% endif %}
							{% for question in test['questions'] %}
								<div class="d-flex flex-column justify-content-center align-items-center">
									<h5 class="answer-label">Enter your answer here:</h5>
									<textarea question-id="{{ test['question_id'] }}"
									          class="form-control test-answer"
									          maxlength="2000" value=""></textarea>
								</div>
							{% endfor %}
						</div>
					</article>
				{% endfor %}
				<button id="answer-submit"
				        class="btn btn-primary button-custom">{{ text["Válaszok elküldése"] }}</button>
			</div>
		</section>
	</main>
{% endblock %}
