{% extends "default.jinja2" %}
{% block head %}
{% endblock %}
{% block content %}
	<main class="container">
		<div class="row">
			<div class="col-lg-1 col-2">1.</div>
			<div class="col-lg-6 col-10"><p>...szüntelenül új, megoldatlan problémákba ütközik.</p></div>
			<div class="col-lg-1 col-2"><button class="btn">1</button></div>
			<div class="col-lg-1 col-2"><button class="btn">2</button></div>
			<div class="col-lg-1 col-2"><button class="btn">3</button></div>
			<div class="col-lg-1 col-2"><button class="btn">4</button></div>
			<div class="col-lg-1 col-2"><button class="btn">5</button></div>
		</div>
	</main>
{% endblock %}
